absl-py
accelerate
aiohappyeyeballs
aiohttp
aiohttp-cors
aiosignal
android-env
android_world
annotated-types
anyio
attrs
av
blessed
cachetools
cairocffi
CairoSVG
certifi
charset-normalizer
click
colorful
contourpy
cssselect2
cycler
datasets
defusedxml
dill
distlib
distro
dm-env
dm-tree
filelock
fonttools
frozenlist
fsspec
fuzzywuzzy
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
gpustat
greenlet
grpcio
grpcio-status
grpcio-tools
h11
hf-xet
httpcore
httplib2
httpx
huggingface-hub
idna
immutabledict
importlib_metadata
iniconfig
Jinja2
jiter
jsonschema
kiwisolver
Levenshtein
MarkupSafe
matplotlib
mpmath
msgpack
multidict
multiprocess
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
opencensus
opencensus-context
opencv-python
opentelemetry-api
opentelemetry-exporter-prometheus
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
outcome
pandas
pillow
playwright
pluggy
portpicker
prometheus_client
propcache
proto-plus
protobuf
py-spy
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydub
pyee
pygame
PyJWT
pyparsing
pyrsistent
PySocks
pytest
python-Levenshtein
pytz
PyYAML
qwen-vl-utils
RapidFuzz
ray>=2.10
regex
requests
rsa
safetensors
selenium
smart_open
sniffio
sortedcontainers
sympy
tenacity
termcolor
timm
tinycss2
tokenizers
torch
torch-geometric
torchaudio
torchdiffeq
torchvision
tqdm
transformers
trio
trio-websocket
triton
typing-inspection
tzdata
uritemplate
urllib3
virtualenv
voluptuous
webencodings
websocket-client
wrapt
wsproto
xxhash
yarl
zai-sdk
zipp